
header {
    background-color: rgb(70, 136, 81);
}

img, iframe {
    width: 800px;
    display: inline-block;
    vertical-align: top;
}
 header nav{
    display: block;
}

ul {
    background-color: rgb(255, 255, 255);
    list-style: none;
}

a {
    text-decoration: none;
    color: red;
}
footer {
    background-color: rgba(77, 74, 74, 0.685);
}
body {
    background-color: brown;
}

.TextoVerde {
    color: #1d9c28;
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}